<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<script src="__PUBLIC__/js/meta.js"></script>
		<title>部门介绍页面</title>
		<link rel="stylesheet" href="__PUBLIC__/css/intro.css">
	</head>

	<body>
			
		<div id="header">
			<div>
				<a href="{:U('User/info')}">
					<i class="iconfont">&#xe686;</i>
				</a>
			</div>
			<p>{$dep_name.department}</p>
			<div>
				<a href="{:U('User/apply')}">
					<i class="iconfont">&#xe791;</i>
				</a>
			</div>
		</div>
		
		<div id="container">
			
			<div class="intro-logo">
				<img src="__PUBLIC__/{$content.image}">
			</div>

			<div class="intro-content">
				<p>
					{$content.content}
				</p>
			</div>
			
			<div>
				<a style = "text-decoration:none;"href ="{:U('Organization/addPeo')}" >
					<button class="apply-btn" {$disabled}>我要报名
					</button>
				</a>
			</div>


		</div>



	</body>

</html>