<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<script src="__PUBLIC__/js/meta.js"></script>
		<title>部门介绍页面</title>
		<link rel="stylesheet" href="__PUBLIC__/css/intro.css">
	</head>

	<body>
			
		<div id="header">
			<div>
				<a href="user_info.html">
					<i class="iconfont">&#xe686;</i>
				</a>
			</div>
			<p>WEB研发部</p>
			<div>
				<a href="user_apply.html">
					<i class="iconfont">&#xe791;</i>
				</a>
			</div>
		</div>
		
		<div id="container">
			
			<div class="intro-logo">
				<img src="__PUBLIC__/images/logo.png">
			</div>

			<div class="intro-content">
				<p>
					这是部门的介绍啊
					这是部门的介绍啊
					这是部门的介绍啊
					这是部门的介绍啊
					这是部门的介绍啊
					这是部门的介绍啊
					这是部门的介绍啊
					这是部门的介绍啊
					这是部门的介绍啊
				</p>
			</div>
			
			<div>
				<button class="apply-btn">我要报名</button>
			</div>


		</div>



	</body>

</html>