<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>校级组织</title>
		<script src="__PUBLIC__/js/meta.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/list.css">
	</head>
	<body>
		<div id="header">
			<p>校级组织</p>
		</div>

		<div id="org-list">
			
			<a href="deparment.html">
				<div class="org-container">
					<div class="org-logo">
						<img src="__PUBLIC__/images/group.png">
					</div>
					<div class="org-name">
						团委直属部门
					</div>
				</div>
			</a>
			<div class="org-container">
				<div class="org-logo">
					<img src="__PUBLIC__/images/union.png">
				</div>
				<div class="org-name">
					校学生会
				</div>
			</div>
			<div class="org-container">
				<div class="org-logo">
					<img src="__PUBLIC__/images/redrock.png">
				</div>
				<div class="org-name">
					红岩网校工作站
				</div>
			</div>
			<div class="org-container">
				<div class="org-logo">
					<img src="__PUBLIC__/images/social.png">
				</div>
				<div class="org-name">
					社团联合会
				</div>
			</div>
			<div class="org-container">
				<div class="org-logo">
					<img src="__PUBLIC__/images/volunteer.png">
				</div>
				<div class="org-name">
					青年志愿者协会
				</div>
			</div>
			<div class="org-container">
				<div class="org-logo">
					<img src="__PUBLIC__/images/science.png">
				</div>
				<div class="org-name">
					科技联合会
				</div>
			</div>
			<div class="org-container">
				<div class="org-logo">
					<img src="__PUBLIC__/images/art.png">
				</div>
				<div class="org-name">
					大学生艺术团
				</div>
			</div>


		</div>
	</body>
</html>