<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>部门介绍页面</title>
		<meta name="viewport" content="width=device-width">
		<script src="__PUBLIC__/js/meta.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/deparment.css">
	</head>

	<body>

		<div id="header">
			<div>
				<a href="{:U('User/info')}">
					<i class="iconfont">&#xe686;</i>
				</a>
			</div>
			<p>红岩网校工作站</p>
			<div>
				<a href="{:U('User/apply')}">
					<i class="iconfont">&#xe791;</i>
				</a>
			</div>
		</div>

		<div id="deparment-list">
			<ul>
				<li>
					WEB研发部
					<span class="badge">已报名</span>
				</li>
				<li>
					移动开发部
					<span class="badge">已报名</span>
				</li>
				<li>
					视觉设计部
					<span class="badge">已报名</span>
				</li>
				<li>运营维护部</li>
				<li>管理规划部</li>
			</ul>
		</div>
		
	</body>
</html>