<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>学校组织招新说明</title>
		<meta name="viewport" content="width=device-width">
		<script src="__PUBLIC__/js/meta.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/apply_intro.css">
	</head>
	<body>

		<div id="header">
			<p>学校组织招新说明</p>
		</div>

		<div id="main">
			<div class="school-logo">
				<img src="__PUBLIC__/images/apply_intro.png">
			</div>
			<div class="school-intro">
				办公室负责团委工作的上传下达——向上通过制作
				制作团委工作简报《重邮共青团》、日报送、月报
				送等，向团中央、团市委汇报学校团学工作动态；
				向下联系沟通各校级学生组织，传达团委相关工作
				要求，并针对学生组织相关工作予以监督.
			</div>
		</div>

	</body>
	
</html>