<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>我的报名</title>
		<meta name="viewport" content="width=device-width">
		<script src="__PUBLIC__/js/meta.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/my_apply.css">
	</head>

	<body>
			
		<div id="header">
			<div>
				<i class="iconfont">&#xe686;</i>
			</div>
			<p>我的报名</p>
			<a href="orglist.html">
				<div>
					<i class="iconfont">&#xe791;</i>
				</div>
			</a>
		</div>

		<div id="main">
			
			<div class="mascot">
				<img src="public/images/mascot.png">
			</div>

			<div class="tip">
				<p>你还没有报名呢，点击<strong>右上方</strong>“我要报名”选择组织吧</p>
			</div>

			
			
		</div>
		
		<!-- <div id="btn-container">
			<div class="apply-btn-container">
				<button class="apply-btn">我要报名</button>
			</div>

			<div class="user-info-btn-container">
				<button class="user-info">我的信息</button>
			</div>
		</div> -->


	</body>

</html>