<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>我的报名</title>
		<meta name="viewport" content="width=device-width" />
        <script src="__PUBLIC__/js/meta.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/user_apply.css">
	</head>
	<body>

		<div id="header">
            <div>
                <i class="iconfont">&#xe791;</i>
            </div>
			<p>我的报名</p>
		</div>

        <div class="bar">
            <div class="title">
                <p>红岩网校工作站运营维护部</p>
            </div>
            <div class="rate">
                <div class="red step">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>资料审核</p>
                </div>
                <div class="ora step">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>一面</p>
                </div>
                <div class="yell step">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>二面</p>
                </div>
                <div class="gre step">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>三面</p>
                </div>
                <div class="cyan step">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>笔试</p>
                </div>
                <div class="blue step off">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>录取</p>
                </div>
            </div>
            <a href="##">点击查看详情</a>
        </div>
        <div class="bar">
            <div class="title">
                <p>红岩网校工作站运营维护部</p>
            </div>
            <div class="rate">
                <div class="red step">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>资料审核</p>
                </div>
                <div class="ora step">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>一面</p>
                </div>
                <div class="yell step">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>二面</p>
                </div>
                <div class="gre step">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>三面</p>
                </div>
                <div class="cyan step">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>笔试</p>
                </div>
                <div class="blue step off">
                    <div class="line"></div>
                    <div class="mid">
                        <div class="point"></div>
                        <div class="cube"></div>
                    </div>
                    <p>录取</p>
                </div>
            </div>
            <a href="##">点击查看详情</a>
        </div>
        <!-- <div class="screen">
            <div class="apply-btn-container">
                <button class="apply-btn">我要报名</button>
            </div>

            <div class="user-info-btn-container">
                <button class="user-info">我的信息</button>
            </div>

        </div> -->
	</body>
	
</html>