<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>我的信息</title>
		<meta name="viewport" content="width=device-width">
		<script src="__PUBLIC__/js/meta.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/user_info.css">
	</head>

	<body>
		
		<div id="header">
			<p>我的信息</p>
			<a href="user_apply.html">
				<div>
					<i class="iconfont">&#xe791;</i>
				</div>
			</a>
		</div>

		<div id="main">
			<div class="form-control">
				<span>姓名</span>
				<span>王洋辉</span>
			</div>
			<div class="form-control">
				<span>学号</span>
				<span>2013214046</span>
			</div>
			<div class="form-control">
				<span>学院</span>
				<span>软件工程学院</span>
			</div>
			<div class="form-control">
				<span>手机</span>
				<span>1331331133</span>
			</div>
			<div class="form-control">
				<span>个人介绍</span>
				<p>会尽快的书法家看电视就可获得会尽快的书法家看电视就可获得会尽快的书法家看电视就可获得会尽快的书法家看电视就可获得会尽快的书法家看电视就可获得会尽快的书法家看电视就可获得会尽快的书法家看电视就可获得</p>
			</div>
			<div class="form-control">
				<a href="user_info_modify.html"><button class="modify-info-btn">修改信息</button></a>
			</div>
		</div>



	</body>

</html>