<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>我的信息</title>
		<meta name="viewport" content="width=device-width">
		<script src="__PUBLIC__/js/meta.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/user_info.css">
	</head>

	<body>
		
		<div id="header">
			<p>我的信息</p>
			<div>
				<a href="{:U('User/apply')}">
					<i class="iconfont">&#xe601;</i>
				</a>
			</div>
		</div>

		<div id="main">
			<div class="form-control">
				<span>姓名</span>
				<span>{$stu.name}</span>
			</div>
			<div class="form-control">
				<span>学号</span>
				<span>{$stu.studentnum}</span>
			</div>
			<div class="form-control">
				<span>学院</span>
				<span>{$stu.academy}</span>
			</div>
			<div class="form-control">
				<span>手机</span>
				<span>{$stu.phone}</span>
			</div>
			<div class="form-control">
				<span>个人介绍</span>
				<p>{$stu.introduce}</p>
			</div>
			<div class="form-control">
				<a href="{:U('User/infoModifyShow')}"><button class="modify-info-btn">修改信息</button></a>
			</div>
		</div>



	</body>

</html>